@font-face {
    font-family: 'Mulish';
    src: local('Mulish-Bold'),
    local('Mulish-Regular'),
    url('/fonts/mulish/Mulish-Bold.woff2') format('woff2'),
    url('/fonts/mulish/Mulish-Bold.woff') format('woff'),
    url('/fonts/mulish/Mulish-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter-Medium'),
    url('/fonts/inter/Inter-Medium.woff2') format('woff2'),
    url('/fonts/mulish/Mulish-Bold.woff') format('woff'),
    url('/fonts/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    margin: 0 auto;
}

.row-icons {
    margin: 0 auto;
    max-width: 1030px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register {
    padding: 20px 60px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
    width: 25%;
    background-color: #E7E8ED;
}

.register-inputs {
    max-width: 359px;
    margin: 0 auto;
    border: none;
}

.register-input {
    width: 359px;
    max-height: 46px;
    font-size: 16px;
    padding: 14px 17px;
    border-radius: 5px;
    background-color: #E7E8ED;
    border: 1px solid #A7A8AD;
}

input::placeholder {
    font-size: 14px;
}

.logo {
    width: 345px;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register-buttons {
    font-size: 18px;
}

.mr-b-md {
    margin-bottom: 35px;
}

.mr-b-sm {
    margin-bottom: 10px;
}

.mr-r-esm {
    margin-right: 8px;
}

.mr-r-md {
    margin-right: 20px;
}

.login-fon {
    width: 70%;
    background-image: url('../login_page_images/login-page-fon.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
}

.login-fon__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    text-transform: uppercase;
}

.system-icon {
    width: 12%;
    max-width: 120px;
    max-height: 120px;
    margin-right: 20px;
}

.system-icon:first-child {
    margin-left: 20px;
}

.column {
    display: inline-block;
    flex-direction: column;
}

input[type="checkbox"] {
    background-color: #E7E8ED !important;
}

.btn {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #38414A;
    color: #fff;
}

.primary {
    background-color: #1a47a1;
}

.inner-container {
    height: 100%;
}
.login__header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.system-icons {
    margin-bottom: 25px;
}
.form-check {
    position: relative;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
    display: none;
}
.form-check-label{
    padding-left: 25px;
}
input[type=checkbox]+label::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 15px;
    width: 15px;
    left: 0;
    top: 0px;
    background-color: #E7E8ED;
    border-radius: 5px;
    border: 1px solid rgb(150 150 150 / 30%);
}
input[type=checkbox]:checked+label::before {
    background-color: #1a47a1;
}

input[type=checkbox]:checked+label::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
    display: block;
    position: absolute;
    left: 3px;
    top: -1px;
}

@media only screen and (max-width: 1400px) {
    .login-fon {
        display: none;
    }
}