@font-face {
  font-family: 'Mulish';
  src: local('Mulish-Bold'), local('Mulish-Bold'), url('Mulish-Regular.woff2') format('woff2'), url('Mulish-Regular.woff') format('woff'),
    url('Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: local('Mulish-Regular'), local('Mulish-Regular'), url('Mulish-Bold.woff2') format('woff2'), url('Mulish-Bold.woff') format('woff'),
    url('Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
